<div id="public-index" class="container">

  <div class="row">

    <div class="col-xs-12">
      <h4>Most favored pens:</h4>
      <hr>
    </div>

    {{#each pens as |pen|}}
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{pen.name}}
          <span class="glyphicon glyphicon-picture pull-left panel-glyphicon" aria-hidden="true"></span>
          <a href="/pen/{{pen._id}}/remove">
            <span class="glyphicon glyphicon-remove pull-right panel-glyphicon" aria-hidden="true"></span>
          </a>
        </div>
        <div class="panel-body">
          <a href="/pen/{{pen._id}}">
            <div class="panel-img" style="background-image: url('{{pen.link}}'), url('/images/noimage.png')" onError="this.onerror=null;this.src='/images/noimage.png';"></div>
          </a>
          <p class="pull-left">
            <br>
            likes: shares:
          </p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>

</div>
